<ul class="list-group-flush" *ngIf="amounts.length > 0; else empty">
  <li class="list-group-item list-group-item-action" 
      aria-current="true"
      *ngFor="let x of amounts.slice(paginationComp.firstIn, paginationComp.firstOut)"
      (mouseenter)="onMouseEnter($event, x)"
      (mouseleave)="onMouseLeave($event, x)"
      (click)="onItemClick(x)"
      [ngClass]="{
        'active': selectedAmounts.has(x) && !x.isPossiblyPaidCredit(), 
        'golden-active': selectedAmounts.has(x) && x.isPossiblyPaidCredit(), 
        'bg-golden-strips': x.isPossiblyPaidCredit()
      }">
    <div class="row">
      <div class="col-md-1">
        <fa-icon [icon]="constants.icons.inbox" *ngIf="x.isNewReceivedDebt() || x.isPossiblyPaidCredit()"></fa-icon>
        <fa-icon [icon]="constants.icons.outbox" *ngIf="x.isNewProposedCredit() || x.isPaidDebtToBeConfirmed()"></fa-icon>
        <fa-icon [icon]="constants.icons.confirmed" *ngIf="x.isConfirmedCredit() || x.isConfirmedDebt()"></fa-icon>
      </div>
      <div class="col-md-1">
        <fa-icon [icon]="constants.icons.plusCircle" style="color:green" *ngIf="x.isCredit; else debt"></fa-icon>
        <ng-template #debt><fa-icon [icon]="constants.icons.minusCircle" style="color:crimson"></fa-icon></ng-template>
      </div>
      <div class="col-md-10">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ x.quantity }}</h5>
          <small>{{ x.date | date:dateFormat }}</small>
        </div>
        <div class="row">
          <div class="col-12 col-md-9"><p>{{ x.reason }}</p></div>
          <div class="col-12 col-md-3" style="text-align: end;"><b *ngIf="x.paidOn!=null">Paid on: {{ x.paidOn | date:dateFormat }}</b></div>
        </div>
        <small>{{ x.involved }}</small>
      </div>
    </div>
  </li>
</ul>
<app-pagination 
  #paginationComp 
  [maxItemsPerPage]="pageSize" 
  [totalItems]="amounts.length">
</app-pagination>
<ng-template #empty>
  <div class="position-relative">
    <div class="position-absolute top-50 start-50 translate-middle">
        no items...
    </div>
  </div>
</ng-template>